#!/usr/bin/env ruby
require 'open-uri'
require 'timeout'

Base_url = "<%= @restricted_url %>"
Jpegs_dir = "<%= jpegs_base_path %>"
registers = <%= @restricted_ids %>

def open_url(url, retries=3, time_out=3)
  requested_retries = retries
  begin
    Timeout::timeout(time_out) do
      open(url)
    end
  rescue Timeout::Error
    if retries > 0
      retries -= 1
      retry
    else
      return false
    end
  rescue StandardError => e
    return false
  end
end

def build_path vtls, page, type
  return nil unless ["high", "low"].include? type
  padded_page = page.rjust(3, '0')
  File.join(Jpegs_dir,"static" , type , vtls.gsub("vtls", ""), "#{vtls}_#{padded_page}.jpg")
end

registers.each do | register |
  response = open_url("#{Base_url}/#{register}/restricted_pages")
  exit 1 if response == false

  pages = response.read.gsub("[", "").gsub("]", "").split(",")
  pages.each do | page |
    high_res = build_path(register, page, "high")
    low_res = build_path(register, page, "low")
    begin
      puts "about to delete #{high_res} if it exists"
      File.delete(high_res) if File.exists? (high_res)
      puts "about to delete #{low_res} if it exists"
      File.delete(low_res) if File.exists? (low_res)
    rescue
      exit 1
    end
  end

end

